/* General styling */
pre, code { 
    font-family: Hack, monospace; 
}

body {
    font-family: Hack, monospace;
    color: #d1d1d1;
    margin: 0;
    padding: 0;
    background-color: #1c1e26;
}

/* Space theme dark mode colors */
:root {
    --primary-color: #3a3f4b; /* Dark Blue */
    --secondary-color: #6b7280; /* Dark Gray */
    --accent-color: #f5c842; /* Golden */
}

/* Navigation */
nav {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--accent-color);
}

/* Main Content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

h1, h2, h3 {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

/* Sections */
section {
    margin-bottom: 50px;
    padding: 40px 0;
}

.about, .projects, .contact {
    padding: 30px;
    background-color: #2a2e36;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Buttons */
.button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--secondary-color);
}
