<section class="home">
    <div class="container">
        <h1>Erik J. Hitt</h1>
        <p> Welcome! I'm a computer engineer with a 
            'soft' spot for good software and devops practices.</p>
            
        <p> I've put this site together to test out fun things I discover
            in the world of web development.</p>

        <h2>Links</h2>
        <div class="container">
            <button type="button" class="button">
                <a href="https://www.github.com/hittegit">Github</a>
            </button>
        </div>
    </div>
</section>
